header{
    font-size: 50px;
    background-color: #800000;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

header a:hover {
    text-decoration: underline;
}

#about-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    margin-top: 100px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    gap: 20px; 
}

#about-section img {
    width: 200px;
    border-radius: 50%;
}

#about-section div {
    max-width: 500px;
}



#projects-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.project-card a:hover {
    background: #555;
}

#resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin-top: 100px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin-top: 100px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
}